body {
    margin: 0;
    position: relative;
}
a {
    text-decoration: none;
    transition: .5s linear;
}
nav {
    background: #D4E7EE;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align:center;
}
ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
ul:after{
    content:"";
    display:table;
    clear:both}
li {
    float: left;
}
.link {
    display: block;
    padding: 1em;
    border-right: 1px solid #ADC0CE;
    background: rgba(173, 192, 206, .3);
    color: #29838C;
}
a:hover {
    background: #ADC0CE;
}
/*.container {
    margin: 62px auto;
    width: 600px;
    padding: 0 20px;
}*/